
h1{
  font-size: 45px;
  font-family: 'Lobster', cursive;
  color: black;
}


div{
  font-size: 18px;
}



h3{
  font-size: 28px;
  color: #14f562;
}



.topnav{
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#slideshow{
  border: 1px black solid;
  width: 600px;
  height: 400px;
  position: relative;
  margin: auto;
  display: block;
}

.slide img{
  width: 600px;
  height: 400px;
}

.slide{

}

.prev, .next{
  width: auto;
  position: absolute;;
  top: 50%;
}

.next{
  right: 0;
}
img{
  height: 50%;
  width: 50%;
}
