
#change {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1em;

}

h1 {

  color: black;
padding-left: 50%;

}

img {

    width: 28.1%;

    padding-left: 2.5%;

}

.writing{
  padding-left: 5%;
}


/* for smaller screens change size */
@media (max-width: 1001px) {

  img {

    width: 91%;
    padding-left: 5%;
  }
  .topnav a {
  width: 100%
  }

  .leftpic{
    padding-left: 2.5%;
  }

}




.topnav{

  background-color: black;

  overflow: hidden;

}

.leftpic{
  padding-left: 5%;
}

.topnav a {

  float: left;

  color: white;

  background-color: black;

  text-align: center;
width: 20%;

  padding: 14px 16px;

  text-decoration: none;

  font-size: 17px;

}



#slideshow{

  border: 1px black solid;

  width: 600px;

  height: 400px;

  position: relative;

  margin: auto;

  display: block;

}



.slide img{

  width: 600px;

  height: 400px;

}



.slide{



}



.prev, .next{

  width: auto;

  position: absolute;;

  top: 50%;

}



.next{

  right: 0;

}

body{
  border-style: solid;
  border-width: medium;
  border-color: black;
  font-size: 18px;

}

p{

  padding-left: 5%;
}
