/* home.css */
/* slideshow */
.slideShow {
  position: relative;
  margin: auto;
  width: 60%;
  padding: auto;
 color: "gray";
 background-color: "gray";
 border:  #ccccff 5px solid;
}

 .recentRecipe{
  width: 95%;

}


.prev, .next {
  cursor: pointer;
  bottom: -10%;
  text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
      color: black;
  font-weight: bold;
  transition: 0.5s ease;
  user-select: none;

}



/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev{
  margin-left: 50%;
}


/* Caption text */
.title {
  color: black;
  font-weight: bold;
  font-size: 28px;
  padding: 23px 12px;
  position: absolute;
  top:1%;
  left: 45%;
  width: 50%;
  text-align: center;
}




p{
  color: blue;
}


 .recentRecipe{
  width: 45%;
}



/* Position the "next button" to the right */
.next {
  right: 0;
}



/* Caption text */


.description{
  color: black;
  font-size: 15px;
  padding: 23px 12px;
  position: absolute;
  top: 15%;
  left: 45%;
  width: 50%;
  text-align: center;
}


.readmore{
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  width: auto;
  margin-left: 86%;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  user-select: none;
  background-color:  #ccccff;
    width: 12%;
    height: 15%;
}



/* first image of row */
.leftImg{
  padding-left: 20%;
  width: 18%;
  height: 18%;
}

/* default image settings */
.imgShop{
  padding-left: 2.5%;
    width: 18%;
    height: 18%;
}

.imgShop:hover, .leftImg:hover{
  opacity: 0.5;
}

@media only screen and (max-width: 1900px) {
  .readmore{
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    width: auto;
    margin-left: 83%;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    user-select: none;
    background-color:  #ccccff;
      width: 15%;
      height: 18%;
  }
    }

    @media only screen and (max-width: 1400px) {
      .readmore{
        bottom: 10%;

        margin-left: 83%;
        margin-top: -22px;
        font-size: 18px;
          width: 22%;
          height: 22%;
      }
        }

        @media only screen and (max-width: 1400px) {
          .readmore{
            bottom: 8%;

            margin-left: 79%;
            margin-top: -22px;
            font-size: 18px;
              width: 20%;
              height: 22%;
          }
          .slideshow{
              width: 55%;
          }
          /* first image of row */
          .leftImg{
            padding-left: 21%;
            width: 18%;
            height: 18%;
          }

          /* default image settings */
          .imgShop{
            padding-left: 2%;
              width: 18%;
              height: 18%;
          }

            }
          }
