.recipe{
width: 60%;
padding-left: 20%;
}

.ingredients{

}


.title{
  text-align: center;
}


img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

P{
  font-size: 20px;
}


button{
  color: black;
  font-size: 15px;
  position: absolute;
  text-decoration: none;
  background-color: #ccccff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left: 50%;
}


button:hover{
   background-color: #B573D0;
}

h5{
  font-size: 32px;
  color: #ccccff;
}
