/* recipes.css */



.recipe{
  position: relative;
  top: 0;
  margin: auto;
  width: 50%;
  border:  #ccccff 5px solid;
  border-color:  #ccccff;
  font-size: 16px;
}

.recipePhoto{
  width: 40%;
}


.recipeTitle{
  color: black;
  font-size: 15px;
  position: absolute;
  top:0;
  font-size: 30px;
  left: 45%;
  text-align: center;
  width: 50%;
}

p{
  color: black;
  position: absolute;
  font-size: 25px;
  top: 19%;
  left: 42%;
  width: 58%;
}

button{
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  left: 85%;
  text-decoration: none;
  background-color: #ccccff;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
width: 12%;
height: 15%;
}


.filter{
  margin-left: 20%;
}

.gap{
  font-size: 32px;
color: white;
float: right;
}

@media only screen and (max-width: 1820px) {
  button{
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 10%;
    left: 85%;
    text-decoration: none;
    background-color: #ccccff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 14%;
  height: 16%;
  }
  p{
    color: black;
    position: absolute;
    font-size: 18px;

    left: 42%;
    width: 58%;

  }


  /* .longTitle{
    top: 29%;
  } */

    }

    @media only screen and (max-width: 1400px) {
      .recipe{
        position: relative;
        top: 0;
        margin: auto;
        width: 65%;
        border:  #ccccff 5px solid;
        border-color:  #ccccff;
        font-size: 16px;
      }
      button{
        font-size: 15px;
        position: absolute;
        bottom: 10%;
        left: 82%;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      width: 16%;
      height: 20%;
      }
      /* .longTitle{
        top: 38%;
      } */
      .recipeTitle{
        font-size: 23px;
      }
      p{
        font-size: 17px;
      }
        }

        @media only screen and (max-width: 1100px) {
          .recipe{
            position: relative;
            top: 0;
            margin: auto;
            width: 85%;
            border:  #ccccff 5px solid;
            border-color:  #ccccff;
            font-size: 16px;
          }
          button{
            font-size: 15px;
            position: absolute;
            bottom: 10%;
            left: 82%;
          text-align: center;
          display: inline-block;
          font-size: 16px;
          width: 16%;
          height: 20%;
          }
          /* .longTitle{
            top: 38%;
          } */
          .recipeTitle{
            font-size: 23px;
          }
          p{
            font-size: 17px;
          }
            }


checkbox{
  color: blue;
}
